<h1>
	Friends Page
</h1>

<%friends.forEach(function(friend){%>
	<li> <%= friend %></li>
<%})%>

<form action="/addFriend" method=POST>
	<input type = "text" name = "newFriend" placeholder="name of new friend">
	<input type="submit">
</form>
	
